.calendar__container {
    margin: 0 auto;
    width: 60vw;
}

.calendar__day--current {
    color: blue !important;
    background-color: rgb(203, 225, 254) !important;
}

.calendar__day--prev,
.calendar__day--next {
  color: #999 !important;
}

.calendar__day {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar__day:hover {
  background-color: #f0f0f0;
}

.calendar__day--overlapping {
  background-color: rgb(248, 160, 160) !important;
}

.calendar__day--meeting {
  background-color: rgb(205, 253, 205) !important;
}

.calendar__day--overlapping:hover {
  background-color: rgb(245, 194, 194) !important;
}

.calendar__day--meeting:hover {
  background-color: rgb(223, 245, 223) !important;
}