.calendar__container {
    margin: 0 auto;
    width: 60vw;
}

.calendar__day--current {
    color: blue !important;
    background-color: rgb(203, 225, 254) !important;
}

.calendar__day--prev,
.calendar__day--next {
  color: #999 !important;
}

.calendar__day {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar__day:hover {
  background-color: #f0f0f0; /* Или любой другой цвет фона при наведении */
}
